<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Management</title>
    <STYLE type="text/css">
        H2 {text-align: center}
    </STYLE>

</head>
<body>

{% block navbar %}
    {% if not user.is_authenticated %}
            You are not logged in! <br>
            <a href=//{{ request.META.HTTP_HOST }}/login/>login</a>
            <a href=//{{ request.META.HTTP_HOST }}/signup/>signup</a>
    {% else %}
            You are logged in as {{ request.user.username }} <br>
            <a href=//{{ request.META.HTTP_HOST }}/logout/>logout</a> <br>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>